
.container{
    text-align: center;
    margin-top: 25px;
  
}

table{
    padding: 15px;
    margin: auto;
}

input{
    font-size: 40px;
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 20px;
}

button {
    font-size: 30px;
    background-color: aquamarine;
    width: 120px;
    height: 50px;  
    border-radius: 30px;
}

.calculator{
    display: inline-block;
    padding: 25px;
    background-color: #4e4444;
    border-radius: 10px;
}
