.box {
    width: fit-content;
    border: 2px solid gray;
    background-color: bisque;
}

input{
    background-color: aquamarine;
    padding: 4px;
    margin: 5px;
}

.btn{
    background-color: lightgreen;
    margin-left: 130px;
    cursor: pointer;
}
 
#message{
    text-align: center;
    width: 150px;
    margin-left: 80px;
    text-transform: uppercase;
}